<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Transactions
  </div>
  <div class="card-body">
    <div class="row">
      <div class="input-group col-md-3 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-magnifier"></i></span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          autocomplete="off"
          [(ngModel)]="search"
        />
      </div>
      <div class="col-md-1">
        <button
          class="btn btn-pill btn-block btn-primary"
          (click)="addTransaction()"
          type="button"
        >
          Add
        </button>
      </div>
      <div class="input-group col-md-3 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
            ><i class="icon-people">&nbsp; Place</i></span
          >
        </div>
        <select
          class="form-control"
          [(ngModel)]="businessPlace"
          (change)="bpOrdateChange()"
        >
          <!-- <option value="0" selected="true">Please Select</option> -->
          <option *ngFor="let bp of businessPlaces" [value]="bp.id">
            {{ bp.name }}
          </option>
        </select>
      </div>
      <div class="input-group col-md-3 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
            ><i class="icon-people">&nbsp; From</i></span
          >
        </div>
        <input
          class="form-control"
          [max]="toDate"
          (change)="bpOrdateChange()"
          [(ngModel)]="fromDate"
          type="date"
        />
      </div>
      <div class="input-group col-md-2 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
            ><i class="icon-people">&nbsp; To</i></span
          >
        </div>
        <input
          class="form-control"
          (change)="bpOrdateChange()"
          [(ngModel)]="toDate"
          [min]="fromDate"
          type="date"
        />
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th><i (click)="sort(2)" class="icon-chart"></i> Date</th>
          <th><i (click)="sort(3)" class="icon-chart"></i> Description</th>
          <th><i (click)="sort(4)" class="icon-chart"></i> Debit(Rs.)</th>
          <th><i (click)="sort(5)" class="icon-chart"></i> Credit(Rs.)</th>
          <th><i (click)="sort(6)" class="icon-chart"></i> Username</th>
          <th style="width: 5%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transactions | filter: search">
          <td class="p-1 text-center">{{ item.date }}</td>
          <td class="p-1 text-center">{{ item.description }}</td>
          <td class="p-1 text-center">{{ item.debit }}</td>
          <td class="p-1 text-center">{{ item.credit }}</td>
          <td class="p-1 text-center">{{ item.userName }}</td>
          <td class="p-1">
            <button
              (click)="ShowItemInfo(item.id)"
              class="btn btn-ghost-info"
              type="button"
            >
              <i class="icon-info"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <h4 *ngIf="transactions.length == 0" class="text-center">
      No Data Found, select valid business place and Dates
    </h4>
  </div>
</div>

<div
  bsModal
  #infoModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sales Info</h4>
        <button
          type="button"
          class="close"
          (click)="infoModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-3">
          <div class="col-md-6 font-weight-bold">Description</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ transactionInfo.description }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">User</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ transactionInfo.userName }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Business Place</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ transactionInfo.businessPlaceName }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Date and Time</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{
              transactionInfo.date
                ? transactionInfo.date
                : "" + " " + transactionInfo.time
            }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Debit</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">Rs. {{ transactionInfo.debit }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Credit</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">RS. {{ transactionInfo.credit }}</div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Reference</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ transactionInfo.reference }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="infoModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div
  bsModal
  #primaryModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-primary" role="document">
    <div class="modal-content">
      <form [formGroup]="createForm" (ngSubmit)="createTransaction()">
        <div class="modal-header">
          <h4 class="modal-title">Add Transaction</h4>
          <button
            type="button"
            class="close"
            (click)="addModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mt-3 ml-2 mr-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-pencil"></i> &nbsp; Description
                </span>
              </div>
              <input
                type="text"
                [ngClass]="{
                  'is-invalid':
                    r.get('description').errors && r.get('description').touched,
                  'is-valid':
                    !r.get('description').errors &&
                    (r.get('description').touched ||
                      r.get('description').value !== '')
                }"
                class="form-control"
                placeholder="Description"
                autocomplete="off"
                formControlName="description"
              />
              <div class="invalid-feedback">description is required</div>
            </div>
          </div>
          <div class="row mt-3 ml-2 mr-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-pencil"></i> &nbsp; Reference
                </span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Reference"
                autocomplete="off"
                formControlName="reference"
              />
            </div>
          </div>
          <div class="row mt-3 ml-2 mr-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-pencil"></i> &nbsp; Debit Amount
                </span>
              </div>
              <input
                type="number"
                [ngClass]="{
                  'is-invalid':
                    r.hasError('debCredRequired') && r.get('debit').touched,
                  'is-valid':
                    !r.hasError('debCredRequired') &&
                    (r.get('debit').touched || r.get('debit').value !== '')
                }"
                class="form-control"
                placeholder="0.00"
                autocomplete="off"
                formControlName="debit"
              />
              <div
                *ngIf="r.hasError('debCredRequired')"
                class="invalid-feedback"
              >
                one of debit or credit is required
              </div>
            </div>
          </div>
          <div class="row mt-3 ml-2 mr-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-pencil"></i> &nbsp; Credit Amount
                </span>
              </div>
              <input
                type="number"
                [ngClass]="{
                  'is-invalid':
                    r.hasError('debCredRequired') && r.get('credit').touched,
                  'is-valid':
                    !r.hasError('debCredRequired') &&
                    (r.get('credit').touched || r.get('credit').value !== '')
                }"
                class="form-control"
                placeholder="0.00"
                autocomplete="off"
                formControlName="credit"
              />
              <div
                *ngIf="r.hasError('debCredRequired')"
                class="invalid-feedback"
              >
                one of debit or credit is required
              </div>
            </div>
          </div>
          <!-- <p>create form value : {{ createForm.getRawValue() | json }}</p>
          <p>create form status : {{ createForm.status | json }}</p> -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="addModal.hide()"
          >
            Close
          </button>
          <button [disabled]="!r.valid" type="submit" class="btn btn-primary">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
