<div class="card">
  <div class="card-header"><i class="fa fa-align-justify"></i> Item List</div>
  <div class="card-body">
    <div class="row">
      <div class="input-group col-md-3 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-magnifier"></i></span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          autocomplete="off"
          [(ngModel)]="search"
        />
      </div>
      <div class="input-group col-md-2 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-people"></i></span>
        </div>
        <select
          class="form-control"
          [(ngModel)]="availORReorder"
          (change)="bpOrTypeChange()"
        >
          <!-- <option value="0" selected="true">Please Select</option> -->
          <option [value]="0">Available Items</option>
          <option [value]="1">Re order items</option>
        </select>
      </div>
      <div *ngIf="availORReorder == 1" class="col-md-2">
        <button
          class="btn btn-block btn-primary"
          (click)="reorder()"
          [disabled]="!isNeedToReorder"
          type="button"
        >
          Re Order
        </button>
      </div>
      <div class="input-group col-md-3 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
            ><i class="icon-people">&nbsp; BusinessPlace</i></span
          >
        </div>
        <select
          class="form-control"
          [(ngModel)]="businessPlace"
          (change)="bpOrTypeChange()"
        >
          <!-- <option value="0" selected="true">Please Select</option> -->
          <option *ngFor="let bp of businessPlaces" [value]="bp.id">
            {{ bp.name }}
          </option>
        </select>
      </div>
      <div class="input-group col-md-2 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
            ><i class="icon-people">&nbsp; Type</i></span
          >
        </div>
        <select
          class="form-control"
          [(ngModel)]="type"
          (change)="bpOrTypeChange()"
        >
          <!-- <option value="0" selected="true">Please Select</option> -->
          <option [value]="0">Production</option>
          <option [value]="1">Company</option>
          <option [value]="2">Raw Materials</option>
        </select>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th *ngIf="availORReorder == 0" ><i (click)="sort(6)" class="icon-chart"></i> Batch No</th>
          <th><i (click)="sort(1)" class="icon-chart"></i> Item Name</th>
          <th><i (click)="sort(2)" class="icon-chart"></i> Code</th>
          <th *ngIf="availORReorder == 1" > ReOrder Level</th>
          <th *ngIf="availORReorder == 0" ><i (click)="sort(3)" class="icon-chart"></i> Cost Price (Rs.)</th>
          <th><i (click)="sort(4)" class="icon-chart"></i> Avail.Qty</th>
          <th *ngIf="availORReorder == 0" ><i (click)="sort(5)" class="icon-chart"></i> Expire Date</th>
          <th *ngIf="availORReorder == 0" style="width: 15%">Actions</th>
          <th *ngIf="availORReorder == 1" style="width: 15%">ReOrder</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items|filter:search">
          <td *ngIf="availORReorder == 0" class="p-1">{{ item.batchNo }}</td>
          <td class="p-1">{{ item.name }}</td>
          <td class="p-1">{{ item.code }}</td>
          <td *ngIf="availORReorder == 1" class="p-1">{{ item.reorderLevel + " " + item.unit }}</td>
          <td *ngIf="availORReorder == 0" class="p-1">{{ item.costPrice }}</td>
          <td class="p-1">{{ item.availableQuantity + " " + item.unit }}</td>
          <td *ngIf="availORReorder == 0" class="p-1">{{ item.expireDate }}</td>
          <td *ngIf="availORReorder == 0" class="p-1">
            <button
              (click)="ShowItemInfo(item.id)"
              class="btn btn-ghost-info"
              type="button"
            >
              <i class="icon-info"></i>
            </button>
          </td>
          <td *ngIf="availORReorder == 1" class="p-1">
            <span *ngIf="item.isReorder == false" class="badge badge-success"
              >Not required</span
            >
            <span *ngIf="item.isReorder == true" class="badge badge-danger"
              >Required</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <h4 *ngIf="items.length == 0" class="text-center">
      No Data Found, select valid business place and type
    </h4>
    <!-- <div class="card-footer pt-3">
      <jw-pagination
        [items]="items"
        (changePage)="onChangePage($event)"
        [pageSize]="15"
      ></jw-pagination>
    </div> -->
    <!-- <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
  </div>
</div>

<div
  bsModal
  #infoModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Item Info</h4>
        <button
          type="button"
          class="close"
          (click)="infoModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-3">
          <div class="col-md-6 font-weight-bold">Batch No</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.batchNo }}</div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 font-weight-bold">Item Name</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.name }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Item Code</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.code }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Business Place</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.businessPlaceName }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Cost Price</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">Rs. {{ itemInfo.costPrice }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Available Qty</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{ itemInfo.availableQuantity + " " + itemInfo.unit }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Stocked Qty</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{ itemInfo.stockedQuantity + " " + itemInfo.unit }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Used Qty</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{ itemInfo.usedQuantity + " " + itemInfo.unit }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Item Type</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{
              itemInfo.type === 1
                ? itemInfo.type === 2
                  ? itemInfo.type === 3
                    ? "Miscalleneous"
                    : "Raw material"
                  : "Company"
                : "Production"
            }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Manufactured Date</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{ itemInfo.manufacturedDate }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Expire Date</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{ itemInfo.expireDate }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="infoModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
