<!-- <div class="container"> -->
<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card mx-4">
      <div class="card-body p-4">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <h1>Register</h1>
          <p class="text-muted">Create user account</p>
          <div class="row">
            <div class="input-group col-md-12 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input
                type="text"
                [ngClass]="{
                  'is-invalid':
                    r.get('username').errors && r.get('username').touched,
                  'is-valid':
                    !r.get('username').errors && r.get('username').touched
                }"
                class="form-control"
                placeholder="Username"
                autocomplete="username"
                formControlName="username"
              />
              <div *ngIf="r.get('username').hasError('required')" class="invalid-feedback">Please Enter a username</div>
              <div *ngIf="r.get('username').hasError('pattern')" class="invalid-feedback">You have invalid characters </div>

            </div>
          </div>
          <div class="row">
            <div class="input-group col-md-6 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> &nbsp; F </span>
              </div>
              <input
                type="text"
                [ngClass]="{
                  'is-invalid':
                    r.get('firstname').errors && r.get('firstname').touched,
                  'is-valid':
                    !r.get('firstname').errors && r.get('firstname').touched
                }"
                class="form-control"
                placeholder="First Name"
                autocomplete="firstname"
                formControlName="firstname"
              />
              <div *ngIf="r.get('firstname').hasError('required')" class="invalid-feedback">Please enter a First name</div>
              <div *ngIf="r.get('firstname').hasError('pattern')" class="invalid-feedback">only alpha charaters accepted</div>
            </div>
            <div class="input-group col-md-6 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">&nbsp; L </span>
              </div>
              <input
                type="text"
                [ngClass]="{
                  'is-invalid':
                    r.get('lastname').errors && r.get('lastname').touched,
                  'is-valid':
                    !r.get('lastname').errors && r.get('lastname').touched
                }"
                class="form-control"
                placeholder="Last Name"
                autocomplete="lastname"
                formControlName="lastname"
              />
              <div *ngIf="r.get('lastname').hasError('required')"  class="invalid-feedback">Please enter a Last name</div>
              <div *ngIf="r.get('lastname').hasError('pattern')" class="invalid-feedback">only alpha charaters accepted </div>
            </div>
          </div>
          <div class="row">
            <div class="input-group col-md-6 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input
                type="password"
                [ngClass]="{
                  'is-invalid':
                    r.get('password').errors && r.get('password').touched,
                  'is-valid': !r.get('password').errors
                }"
                class="form-control"
                placeholder="Password"
                autocomplete="new-password"
                formControlName="password"
              />
              <div
                *ngIf="
                  r.get('password').hasError('required') &&
                  r.get('password').touched
                "
                class="invalid-feedback"
              >
                Password is required
              </div>
              <div
                *ngIf="
                  r.get('password').hasError('minlength') &&
                  r.get('password').touched
                "
                class="invalid-feedback"
              >
                Password's minimum length is 4 characters
              </div>
              <div
                *ngIf="
                  r.get('password').hasError('maxlength') &&
                  r.get('password').touched
                "
                class="invalid-feedback"
              >
                Password's maximum length is 20 characters
              </div>
              <div class="valid-feedback">Password is valid!</div>
              <!-- <div
                *ngIf="
                  r.get('confirmPassword').hasError('required') &&
                  r.get('confirmPassword').touched
                "
                class="invalid-feedback"
              >&nbsp;</div> -->
            </div>

            <div class="input-group col-md-6 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input
                type="password"
                [ngClass]="{
                  'is-invalid':
                    (r.get('confirmPassword').errors &&
                      r.get('confirmPassword').touched) ||
                    (r.get('confirmPassword').touched &&
                      r.hasError('mismatch')),
                  'is-valid': !r.get('confirmPassword').errors
                }"
                class="form-control"
                placeholder="Repeat password"
                autocomplete="new-password"
                formControlName="confirmPassword"
              />
              <div
                *ngIf="
                  r.get('confirmPassword').hasError('required') &&
                  r.get('confirmPassword').touched
                "
                class="invalid-feedback"
              >
                Password is required
              </div>
              <div
                *ngIf="
                  r.hasError('mismatch') && r.get('confirmPassword').touched
                "
                class="invalid-feedback"
              >
                Passwords do not match
              </div>
              <div *ngIf="
              !r.hasError('mismatch') && r.get('confirmPassword').touched
            " class="valid-feedback">Confirm Password is valid!</div>
            </div>
          </div>
          <div class="row">
            <div class="input-group col-md-6 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-mars"></i></span>
              </div>
              <select
                class="form-control"
                formControlName="gender"
                name="gender"
                id="gender"
              >
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
          <button [disabled]="!r.valid" type="submit" class="btn btn-block btn-success">
            Create Account
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <p>register form value : {{ registerForm.value | json }}</p>
<p>register form status : {{ registerForm.status | json }}</p> -->
<!-- </div> -->
