<div class="card">
  <div class="card-header"><i class="fa fa-align-justify"></i> Sales List</div>
  <div class="card-body">
    <div class="row">
      <div class="input-group col-md-3 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-magnifier"></i></span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          autocomplete="off"
          [(ngModel)]="search"
        />
      </div>
      <div class="col-md-1">
        <button
          class="btn btn-pill btn-block btn-primary"
          (click)="addItem()"
          type="button"
        >
          Add
        </button>
      </div>
      <div class="input-group col-md-3 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
            ><i class="icon-people">&nbsp; Place</i></span
          >
        </div>
        <select
          class="form-control"
          [(ngModel)]="businessPlace"
          (change)="bpOrdateChange()"
        >
          <!-- <option value="0" selected="true">Please Select</option> -->
          <option *ngFor="let bp of businessPlaces" [value]="bp.id">
            {{ bp.name }}
          </option>
        </select>
      </div>
      <div class="input-group col-md-3 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
            ><i class="icon-people">&nbsp; From</i></span
          >
        </div>
        <input
          class="form-control"
          [max]="toDate"
          (change)="bpOrdateChange()"
          [(ngModel)]="fromDate"
          type="date"
        />
      </div>
      <div class="input-group col-md-2 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
            ><i class="icon-people">&nbsp; To</i></span
          >
        </div>
        <input
          class="form-control"
          (change)="bpOrdateChange()"
          [(ngModel)]="toDate"
          [min]="fromDate"
          type="date"
        />
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th><i (click)="sort(1)" class="icon-chart"></i> Sales No</th>
          <th><i (click)="sort(2)" class="icon-chart"></i> Date</th>
          <th><i (click)="sort(3)" class="icon-chart"></i> Customer</th>
          <th><i (click)="sort(4)" class="icon-chart"></i> Discount(Rs.)</th>
          <th>
            <i (click)="sort(5)" class="icon-chart"></i> Total Amount(Rs.)
          </th>
          <th><i (click)="sort(6)" class="icon-chart"></i> Username</th>
          <th style="width: 5%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of sales | filter: search">
          <td class="p-1 text-center">{{ item.salesNo }}</td>
          <td class="p-1 text-center">{{ item.date }}</td>
          <td class="p-1 text-center">{{ item.customerName }}</td>
          <td class="p-1 text-center">{{ item.discount }}</td>
          <td class="p-1 text-center">{{ item.total }}</td>
          <td class="p-1 text-center">{{ item.userName }}</td>
          <!-- <td class="p-1">
            <span *ngIf="item.type == 0" class="badge badge-success"
              >Production</span
            >
            <span *ngIf="item.type == 1" class="badge badge-primary"
              >Company</span
            >
            <span *ngIf="item.type == 2" class="badge badge-danger">Raw</span>
            <span *ngIf="item.type == 3" class="badge badge-secondary"
              >Misc</span
            >
          </td> -->
          <td class="p-1">
            <!-- <button
              class="btn btn-ghost-secondary"
              (click)="editItem(item.id)"
              type="button"
            >
              <i class="icon-pencil"></i>
            </button> -->
            <button
              (click)="ShowItemInfo(item.id)"
              class="btn btn-ghost-info"
              type="button"
            >
              <i class="icon-info"></i>
            </button>
            <!-- <button
              (click)="delete(item.id)"
              class="btn btn-ghost-danger"
              type="button"
            >
              <i class="icon-close"></i>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
    <h4 *ngIf="sales.length == 0" class="text-center">
      No Data Found, select valid business place and Dates
    </h4>
    <!-- <div class="card-footer pt-3">
      <jw-pagination
        [items]="items"
        (changePage)="onChangePage($event)"
        [pageSize]="15"
      ></jw-pagination>
    </div> -->
    <!-- <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
  </div>
</div>

<div
  bsModal
  #infoModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sales Info</h4>
        <button
          type="button"
          class="close"
          (click)="infoModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-3">
          <div class="col-md-6 font-weight-bold">Sales No</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ salesInfo.salesNo }}</div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 font-weight-bold">Customer Name</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ salesInfo.customerName }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">User</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ salesInfo.userName }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Business Place</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ salesInfo.businessPlaceName }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Date and Time</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{ salesInfo.date ? salesInfo.date : "" + " " + salesInfo.time }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Discount given</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">Rs. {{ salesInfo.discount }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Total after discount</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">RS. {{ salesInfo.total }}</div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Received Amount</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">RS. {{ salesInfo.receivedAmount }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Change Amount</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">RS. {{ salesInfo.changeAmount }}</div>
        </div>
        <div class="row mt-2 ml-3 mr-3">
          <table class="table">
            <thead>
              <th>Item</th>
              <th>Qty</th>
              <th>price(Rs.)</th>
              <th>line Total(Rs.)</th>
            </thead>
            <tbody>
              <tr *ngFor="let row of salesInfo.salesDetails">
                <td>{{ row.itemName }}</td>
                <td>{{ row.quantity }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.lineTotal }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="infoModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
