header {
  margin-bottom: 40px;
}
.Logo-Line {
  font-family: Almarai, sans-serif;
  font-style: italic;
  text-align: center;
}
header h1 {
  margin-top: 50px;
  font-family: "Anton";
  text-align: center;
}
hr {
  margin-top: 50px;
  fill: rgb(167, 167, 167);
  background-color: rgb(167, 167, 167);
  height: 5px;
}
.Report-Info {
  margin-top: 200;
  margin-left: 20px;
}
.Report-Info label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.Report-Title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
table {
  width: 80%;
  border-collapse: collapse;
}
td,th {
  width: auto;
  border: 4px solid black;
  /* padding: 15px; */
  text-align: center;
}
table th {
  color: white;
  background-color: #4b4b4b;
  font-size: 18px;
}
table td {
  font-size: 16px;
  
}

.right {
  position: absolute;
  right: 150px;
  width: 500px;
  border: 3px solid #050505;
  padding: 10px;
  margin-top: 30px;
}
.summary{
  width: 500px;
}
.key{
  width:300px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.value{
  float: right;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.left {
  position: relative;
  left:50px ;
  width: 800px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.bodyHeader{
  width: 800px;
  position: relative;
}
.bodyKey{
  width:200px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bodyValue{
  float: right;
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
