<div class="card">
  <div class="card-header"><i class="fa fa-align-justify"></i> Item List</div>
  <div class="card-body">
    <div class="row">
      <div class="input-group col-md-4 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-magnifier"></i></span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          autocomplete="off"
          [(ngModel)]="search"
        />
      </div>
      <div class="col-md-1">
        <button
          class="btn btn-pill btn-block btn-primary"
          (click)="addItem()"
          type="button"
        >
          Add
        </button>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th><i (click)="sort(1)" class="icon-chart"></i> Item Name</th>
          <th><i (click)="sort(2)" class="icon-chart"></i> Code</th>
          <th><i (click)="sort(3)" class="icon-chart"></i> Description</th>
          <th><i (click)="sort(4)" class="icon-chart"></i> Item Type</th>
          <th style="width: 15%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pageOfItems | filter: search">
          <td class="p-1">{{ item.name }}</td>
          <td class="p-1">{{ item.code }}</td>
          <td class="p-1">{{ item.description }}</td>
          <td class="p-1">
            <span *ngIf="item.type == 0" class="badge badge-success"
              >Production</span
            >
            <span *ngIf="item.type == 1" class="badge badge-primary"
              >Company</span
            >
            <span *ngIf="item.type == 2" class="badge badge-danger">Raw</span>
            <span *ngIf="item.type == 3" class="badge badge-secondary"
              >Misc</span
            >
          </td>
          <td class="p-1">
            <button
              class="btn btn-ghost-secondary"
              (click)="editItem(item.id)"
              type="button"
            >
              <i class="icon-pencil"></i>
            </button>
            <button
              (click)="ShowItemInfo(item.id)"
              class="btn btn-ghost-info"
              type="button"
            >
              <i class="icon-info"></i>
            </button>
            <button
              (click)="delete(item.id)"
              class="btn btn-ghost-danger"
              type="button"
            >
              <i class="icon-close"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="card-footer pt-3">
      <jw-pagination
        [items]="items"
        (changePage)="onChangePage($event)"
        [pageSize]="15"
      ></jw-pagination>
    </div>
    <!-- <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
  </div>
</div>

<div
  bsModal
  #infoModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Item Info</h4>
        <button
          type="button"
          class="close"
          (click)="infoModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-3">
          <div class="col-md-6 font-weight-bold">Item Name</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.name }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Item Code</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.code }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Description</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.description }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Item Category</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.itemCategory.description }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Unit</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.unit.description }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Reorder Level</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{ itemInfo.reOrderLevel + " " + itemInfo.unit.description }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Item Type</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{
              itemInfo.type == 0
                ? "Production"
                : itemInfo.type == 1
                ? "Company"
                : itemInfo.type == 2
                ? "Raw material"
                : "Miscalleneous"
            }}
          </div>
        </div>
        <div *ngIf="itemInfo.type === 0" class="row mt-2">
          <div class="col-md-6 font-weight-bold">Selling Price</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.sellingPrice }}</div>
        </div>
        <div *ngIf="itemInfo.type === 0" class="row mt-2">
          <div class="col-md-6 font-weight-bold">Expiry Days</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ itemInfo.expireDays }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="infoModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
