<!-- <div class="container"> -->
<!-- <div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card mx-4">
      <div class="card-body p-4">
        <h1>Users</h1>
        <p class="text-muted">List of Users</p>

      </div>
    </div>
  </div>
</div> -->

<!-- <p>register form value : {{ registerForm.value | json }}</p>
  <p>register form status : {{ registerForm.status | json }}</p> -->
<!-- </div> -->

<div class="card">
  <div class="card-header"><i class="fa fa-align-justify"></i> User List</div>
  <div class="card-body">
    <div class="row">
      <div class="input-group col-md-4 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-magnifier"></i></span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          autocomplete="off"
          [(ngModel)]="search"
        />
      </div>
      <div class="col-md-1">
        <button
          class="btn btn-pill btn-block btn-primary"
          (click)="addUser()"
          type="button"
        >
          Add
        </button>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <!-- <th>First Name</th>
          <th>last Name</th> -->
          <th>Gender</th>
          <th>Last Active</th>
          <!-- <th>Created</th> -->
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | filter: search; let $index = index">
          <td>{{ user.username }}</td>
          <!-- <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td> -->
          <td>{{ user.gender }}</td>
          <td>{{ user.lastActive | date: "medium" }}</td>
          <!-- <td>{{ user.created.toDateString }}</td> -->
          <td>
            <span *ngIf="user.status == true" class="badge badge-success"
              >Active</span
            >
            <span *ngIf="user.status == false" class="badge badge-secondary"
              >Deactive</span
            >
          </td>
          <td>
            <button
              class="btn btn-ghost-secondary"
              (click)="editUser(user.id)"
              type="button"
            >
              <i class="icon-pencil"></i>
            </button>
            <button
              (click)="ShowUserInfo(user.id)"
              class="btn btn-ghost-info"
              type="button"
            >
              <i class="icon-info"></i>
            </button>
            <button
              (click)="deactivate(user.id)"
              [ngClass]="{
                'btn btn-ghost-warning': user.status === true,
                'btn btn-ghost-success': user.status === false
              }"
              type="button"
              popover="Deactivate"
              triggers="mouseenter:mouseleave"
            >
              <i
                [ngClass]="{
                  'icon-user-unfollow': user.status === true,
                  'icon-user-following': user.status === false
                }"
              ></i>
            </button>
            <button
              (click)="delete(user.id)"
              class="btn btn-ghost-danger"
              type="button"
            >
              <i class="icon-close"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
  </div>
</div>

<div
  bsModal
  #infoModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">User Info</h4>
        <button
          type="button"
          class="close"
          (click)="infoModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-3">
          <div class="col-md-6 font-weight-bold">User Name</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ userInfo.username }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">First Name</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ userInfo.firstName }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Last Name</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ userInfo.lastName }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Gender</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ userInfo.gender }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Created</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ userInfo.created | date: "short" }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Last Active</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">{{ userInfo.lastActive | date: "medium" }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 font-weight-bold">Status</div>
          <div class="col-md-1">-</div>
          <div class="col-md-5">
            {{ userInfo.status === false ? "deactive" : "active" }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="infoModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
